* {
    box-sizing: border-box;
}

body {
    background-color: #090e11;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.app-window {
    display: flex;
    height: calc(100vh - 38px);
    background: #ededed;
    width: 73vw;
    /* box-shadow: 0px 0px 10px 10px rgba(121, 121, 121, 0.2);; */
}

.sidebar {
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #2a2f32;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: #2a2f32;
}

.header--avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.header--buttons {
    display: flex;
}

.header--btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
cursor: pointer;
}

.search {
    background: #131c21;
    border-bottom: 1px solid #2a2f32;
    padding: 5px 15px;
}

.search--input {
    background-color: #2a2f32;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.search--input input {
    flex: 1;
    border: 0;
    outline: 0;
    background: transparent;
    margin-left: 10px;
    text-align: center;
    color: #919191;
}

.chatlist {
    flex: 1;
    background-color: #131c21;
    overflow-y: auto;
}

.chatlist::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

.chatlist::-webkit-scrollbar-thumb{
    background: rgba(143, 143, 143, 0.2);
}

















    .contentarea {
        flex: 1;
        background-image: url("https://previews.123rf.com/images/natashapankina/natashapankina1703/natashapankina170300078/72806171-seamless-pattern-with-hand-drawn-doodle-postal-elements-icon-set-vector-illustration-isolated-post-s.jpg");
        background-size: cover;
    }